<div id="bg">
  <div class="right_float">
    <h1>Contact</h1>
    <%= line_break(42) %>
    <h2>San Telmo</h2>
    <p>14 Meyers Place<br />
      or<br />
      Opposite number 7 Windsor Place<br />
      Between Bourke & Little Collins St's<br />
      Melbourne 3000</p>
<!--     <p><a href="http://santelmo.com.au">santelmo.com.au</a></p> -->
    <a href="mailto:info@santelmo.com.au">info@santelmo.com.au</a>
    <p>Phone: +61 (3) 9650 5525<br />
        Fax: +61 (3) 9650 5526</p>
  </div>
</div>