<div class="right_float" id="main">
  <%= link_to(main_index_path, :id => 'close_page', :class => 'pjax cross') do %>
  <% end %>
  <h1>Drinks</h1>
  <%= line_break(66) %>
  <p class="abstract">With an all-Argentinian wine list and exclusive Argentine beers hand selected by the restaurateurs during their adventures, the whole list has strong Argentine flair including sexy cocktails that involve use of the grill and fresh fruit.</p>
  <p class="abstract">Look out for Malbec and Torrontes grapes, Antares beer and Fernet branca or a Pisco sour!!</p>
  <div class="page_break"></div>
  <p>With a rich wine history of over 500 years experience, coupled with the investment and influence of top wine producers from Spain, Italy and France, Argentinian wine has greatly improved in quality and is finally receiving the recognition it deserves as the world's 5th largest wine producer.</p>
  <p>Aside from being the Kings of the forgotten Malbec red wine grape and their own white varietal Torrrontes, Argentinian wine has been producing great examples of all the noble grape varietals and with an exclusively Argentinian wine list we will provide the opportunity to discover great Argentine wines.</p>
  <%= link_to('http://dl.dropbox.com/u/7697218/menu/drinks_menu.pdf', :target => '_blank') do %>
    <div id="drinks_link"></div>
  <% end %>
  <p>Mendoza sets itself apart from other wine regions with its proximity to the Andes providing purity of environment, intense UV light and a harsher climate through which the grapes are forced to struggle, creating albeit a far more interesting and natural fruit driven palate.</p>
  <p>From Salta and Cafayate in the North, down to Patagonia and the Rio Negro in the south, we have sourced our wines to represent all different regions and climates in Argentina.  Many of our wines are also personally sourced and therefore are only available at San Telmo.</p>
</div>