<div class="right_float" id="main">
  <%= link_to(main_index_path, :id => 'close_page', :class => 'pjax cross') do %>
  <% end %>
  <h1>Drinks</h1>
  <%= line_break(70) %>
  <p class="abstract">We offer an all-Argentinian wine list and exclusive Argentine beers hand-selected by the restaurateurs during their adventures. You can enjoy an exciting range of beverages ranging from a glass (or bottle) of malbec or torrontes, an an Argentinian craft beer, a Fernet Branca and cola or a pisco sour.</p>
  <p class="abstract">Our cocktail list offers a selection of drinks inspired by Santiago Policastro, or “Pichin”, Buenos Aires’ most distinguished bartender in the 1930s and 1940s and other modern cocktails popular in Latin America today.</p>
  <div class="page_break"></div>
  <h3>About Argentinian wine</h3>
  <%= link_to('http://dl.dropbox.com/u/7697218/menu/drinks_menu.pdf', :target => '_blank') do %>
    <div id="drinks_link"></div>
  <% end %>
  <p>With a rich wine history of over 500 years experience, coupled with the investment and influence of top wine producers from Spain, Italy and France, Argentinian wine has greatly improved in quality and is finally receiving the recognition it deserves as the world's fifth largest wine producer.</p>
  <p>Mendoza sets itself apart from other wine regions with its proximity to the Andes providing purity of environment, intense light and a harsher climate through which the grapes are forced to struggle, creating an interesting and natural fruit driven palate. From Salta and Cafayate in the north, down to Patagonia and the Rio Negro in the south, we have sourced our wines to represent all different regions and climates in Argentina.</p>
  <p>Many of our wines are personally sourced and only available at San Telmo.</p>
  <%= image_tag ("beer-tap.jpg"), size: "400x270", class: "center", alt: "The decorative beer tap at San Telmo" %> 
  <div id="spacer"></div>
</div>