<div id="bg">
  <div class="right_float">
    <h1>Drinks</h1>
    <%= line_break(42) %>
    <p>With a rich wine history of over 500 years experience cupled with the investment and influence of top wine producers from Spain, Italy and France, Argentinian wine is finally receiving the recognition it deserves as the world's 5th largest wine producer.</p>
    <p>The Kings of the forgotten Malbec red wine grape and their own white varietal Torrrontes, Argentinian wine has been producing great examples of all the noble grape varietals and a selection of other varietals also. Over the past 10 years there has been a strong focus on quality for the international market.</p>
    <p>Mendoza sets itself apart from other wine regions with its proximity to the Andes providing purity of environment, intense UV light and a harsher climate in which the grapes are forced to struggle to create a more interesting and natural fruit driven palate.</p>
    <p>All accross Argentina the vinyards are at elevation, with a significantly higher average elevation than any other international wine region. From Salta and Cafayate in the North down to Patagonia and the Rio Negro in the south we have sourced our wines to represent all the different regions and climates in Argentina and they have been sourced peronally so many of our wines will only be available in San Telmo.</p>
    
    <%= link_to 'See our wine list', '/images/wine_list.pdf', :class => 'menu_link', :target => '_blank' %>
  </div>
</div>