<div class="right_float" id="main">
  <%= link_to(main_index_path, :id => 'close_page', :class => 'pjax cross') do %>
  <% end %>
  <h1>Employment</h1>
  <%= line_break(66) %>
  <p class="abstract"><em>"Vení a San Telmo"</em></p>
  <p class="abstract">Our people are the most important part of San Telmo and we are committed to developing a team through ongoing personal development and training. We work hard, we learn about Argentine cuisine, wine and culture and we have fun doing it.</p>
  <div class="page_break"></div>
  <div id="staff"></div>
  <h2>Join San Telmo's Kitchen Team</h2>
  <p>Our imported 2.5 metre charcoal grill, known in Argentina as a parrilla, is barbecue paradise with people travelling from all around to see the magic happening over the hot coals.</p>
  <p>You will learn to display your skills in our open kitchen with the close guidance and mentoring of Mike Patrick (head chef) and Glenn Ellett (sous chef). Using top local produce and the latest kitchen equipment you will learn about South American cuisine and culture. Experience in an open kitchen and direct contact with customers form a fundamental part of the lively culture and atmosphere of the restaurant, improving your people skills and the vibe of the kitchen.</p>
  <p>We appreciate the importance of a work/life balance and provide flexible working hours that can be tailored to meet family and social needs. For the right applicant we offer extensive management training in a positive work environment, with opportunity for career progression.</p>
  <p>The applicant we are looking for will be motivated and passionate about food and their career in restaurants with a positive “can do” attitude. They must be punctual, hardworking and committed to learn and develop with San Telmo.</p>
  <p>Please send your CV and expression of interest to <%= mail_to "info@santelmo.com.au" %></p>
  <h2>Join our Floor and Bar Team</h2>
  <p>We are always open to applications from committed and motivated floor and bar staff who are interested in learning and growing with the San Telmo team.</p>
  <p>We have the only exclusively Argentinian wine list in the Australia and provide ongoing training about the Argentine wine regions and styles from specialist winemakers in the region) as well as Argentine food and culture.</p>
  <p>We offer a fun and lively work environment with flexible hours and attainable rewards, with in house and exterior management training for the right people. Our aim is to help develop staffs skills to maximise their potential and grow within the business.</p>
  <p>The right candidates will be committed, have exceptional customer (and kitchen) interaction skills and be ready to embrace the culture of San Telmo and the Argentine ethos: <em>“eating, drinking and most importantly living are there to be enjoyed with friends and family”</em></p>
  <p>If this is you then send your CV and an expression of interest to <%= mail_to "info@santelmo.com.au" %></p>
  <div id="spacer"></div>
</div>