<div class="right_float" id="main">
  <%= link_to(main_index_path, :id => 'close_page', :class => 'pjax cross') do %>
  <% end %>
  <h1>Events</h1>
  <%= line_break(66) %>
  <p class="abstract">San Telmo events are awesome!</p>
  <div id="events"><p class="loading">Twitter is loading...</p></div>
  <div class="page_break"></div>  
  <p>Bookings are available in the main dining area while we do endeavour to keep around half our seating available for walk-ins and last minute urges for an empanada and beer or a big steak and a red wine.</p>
  <div id="spacer"></div>
</div>