<div id="gallery">
  <h1>Gallery</h1>
  <%= heading_break %>
<!--
  <% @images.each do |image| %>
    <div class="thumbnail>
    <%= image_tag image %>
  </div>
	<% end %>
-->
  
  <img class="thumbnail" src="/images/gallery/thumbnail-1.jpg" width="310" height="310" alt="Man cooking on BBQ" />
  <img class="thumbnail" src="/images/gallery/thumbnail-1.jpg" width="310" height="310" alt="Man cooking on BBQ" />
  <img class="thumbnail" src="/images/gallery/thumbnail-1.jpg" width="310" height="310" alt="Man cooking on BBQ" />
  <img class="thumbnail" src="/images/gallery/thumbnail-1.jpg" width="310" height="310" alt="Man cooking on BBQ" />
  <img class="thumbnail" src="/images/gallery/thumbnail-1.jpg" width="310" height="310" alt="Man cooking on BBQ" />
  <img class="thumbnail" src="/images/gallery/thumbnail-1.jpg" width="310" height="310" alt="Man cooking on BBQ" />
</div>
