<div id="arrow_right"></div>
<div id="arrow_left"></div>
  <h1>Gallery</h1>
  <%= line_break(151) %>
  <% @images.each do |image| %>
  <div class="thumbnail">
    <%= image_tag image %>
  </div>
<% end %>