<div class="right_float" id="main">
  <%= link_to(main_index_path, :id => 'close_page', :class => 'pjax cross') do %>
  <% end %>
  <h1>Gaucho Lunch</h1>
  <%= line_break(66) %>
  <div id="gaucho"></div>
  <p class="abstract">Break up your day in the saddle with the hardest working lunch in town...</p>
  <div class="page_break"></div>
  <p>~ THE SAN TELMO GAUCHO LUNCH ~</p>
  <p>Monday - Friday, $28 per person. Two courses plus coffee/tea and a sweet treat</p>
  <div id="spacer"></div>
</div>