<div id="ghost-box">
  <p><strong>'BIENVENIDOS A SAN TELMO'</strong> - WELCOME TO SAN TELMO</p>
  <p>Inspired by a love of Argentinian food, wine, vivacious lifestyle and rich culture, our menu follows the Agentine tradition of sharing food.</p>
  <p>The Parrilla (imported Argentine charcoal grill) is the focal point of our cuisine, importing a unique flavour to the dishes. We recommend you combine dishes from all sections of our menu to create an experience that can be enjoyed with colleagues, friends and family.</p>
  <p>We look forward to sharing the food, the wine and our memories of Buenos Aired and Argentine with you.</p>
</div>