<div id="bg">
  <div class="right_float">
    <h1>Food</h1>
    <%= line_break(42) %>
    <p>Upon entering San Telmo, you will immediately become aware of the 2.5 metre parrilla (char-grill) where fire and smoke are used to create the unique flavours on offer in our authentic Argentinian menu. We are focused on the simplicity of Argentine cooking, with hearty dishes that include favourites such as empanadas, entraña, carbonada criolla, mollejas with further selections from the grill. Additionally, a meal at San Telmo is not complete without tasting the Argentine national dessert, Dulce De Leche.</p>
    <p>Our menu is designed to be shared - the social element of an Asado is an integral part of Argentinian culture, and is considered an opportunity to enjoy great wine and food with family and friends. As such, all cuts of meat are presented with a recommended cooking degree, however we do accommodate requests for meat to be prepared to order and personal preference.</p>
    <p>The menu has been inspired by the food and wine we enjoyed whilst in Argentina - from the restaurants we visited, to the friends and families we came to know during our travels. And now we look forward to sharing our love of the Argentine parrilla with you.</p>
    
    <%= link_to 'See our latest menu', '/images/menu.pdf', :class => 'menu_link', :target => '_blank' %>
  </div>
</div>