<div class="right_float" id="main">
  <%= link_to(main_index_path, :id => 'close_page', :class => 'pjax cross') do %>
  <% end %>
  <h1>Menu</h1>
  <%= line_break(66) %>
  <p class="abstract">Upon entering San Telmo, you will immediately become aware of the 2.5 metre parrilla (char-grill), where fire and smoke create the unique flavours on offer in our authentic Argentinian menu. We are focused on the simplicity of Argentine cooking, with hearty dishes that include favourites such as empanadas, entraña, carbonada criolla and mollejas along with other dishes from the grill.  And of course, a meal at San Telmo is not complete without tasting the Argentine national dessert, Dulce De Leche.</p>
  <div class="page_break"></div>
  <p>Our menu is designed to be shared - the social element of an Asado is an integral part of Argentinian culture and is considered an opportunity to enjoy great food and wine with family and friends. As such, all cuts of meat are presented with a recommended cooking degree, however we do accommodate requests for specific cooking preferences.</p>
  <p>The menu has been inspired by the food and wine we enjoyed whilst in Argentina - from the restaurants we visited, to the friends and families we came to know during our travels. And now, we look forward to sharing our love of the Argentine parrilla with you.</p>
  <%= link_to('/images/menu.pdf', :target => '_blank') do %>
    <div id="menu_link" class="thumbnail_heading"><p>Menu</p></div>
  <% end %>
  <%= link_to('/images/set_menu.pdf', :target => '_blank') do %>
    <div id="set_menu_link" class="thumbnail_heading"><p>SET MENU</p></div>
  <% end %>
</div>

