<div class="right_float" id="main">
  <%= link_to(main_index_path, :id => 'close_page', :class => 'pjax cross') do %>
  <% end %>
  <h1>Menu</h1>
  <%= line_break(66) %>
  <p class="abstract">Our sharing style menu is inspired by the meals we came to know and love during our time in Argentina. The social element of an asado is an integral part of Argentinian culture and is considered an opportunity to enjoy great food and wine with family and friends. We look forward to sharing our love of the Argentine parrilla (charcoal grill) with you.</p>
  <%= link_to "Download Menu", "http://dl.dropbox.com/u/7697218/menu/menu.pdf", :class => 'document', :target => '_blank' %>
    <%= link_to "Download Set Menu", "http://dl.dropbox.com/u/7697218/menu/set_menu.pdf", :class => 'document', :target => '_blank' %>
  <div class="page_break"></div>
  <div id="grill"></div>
  <p>We focus on the simplicity of Argentine cooking, with hearty Argentine favourites including empanadas, entraña (hanger steak), chorizo, morcilla (spiced black sausage) and mollejas (sweetbreads) along with other dishes from the grill.</p>
  <p>We use the highest quality locally raised pasture-fed and free range Hereford and Angus beef. The majority of our beef comes from O’connor’s Premium, the very best beef from Gippsland. All cuts of meat are presented with a recommended cooking degree, however we do accommodate requests for specific cooking preferences.</p>
  <p>There are plenty of vegetarian dishes on offer and we cater for dietary requirements wherever possible. A large selection of side dishes complement the seasons, with favourites such as brócoli (fried broccoli with salted ricotta) and zanahorias (burnt carrots with thyme and goats curd).</p>
  <p>Of course, a meal at San Telmo is not complete without tasting the Argentine national dessert, dulce de leche, which you find in our ever popular flan.</p>
  <div id="spacer"></div>
</div>