<div class="right_float" id="main">
  <%= link_to(main_index_path, :id => 'close_page', :class => 'pjax cross') do %>
  <% end %>
  <h1>Philosophy</h1>
  <%= line_break(66) %>
  <p class="abstract">Inspired by a love of Argentinian food, wine, vivacious lifestyle and rich culture, San Telmo is a restaurant and bar situated in Meyers Place.</p>
  <p class="abstract">Offering a warm and casual option for breakfast, lunch and dinner, San Telmo follows the Argentinian ethos that eating, drinking and living are best enjoyed with friends, family and lovers.</p>
  <div class="page_break"></div>
  <div id="philosophy_image"></div>
  <p>The name San Telmo originates from the oldest neighbourhood of Buenos Aires, a suburb full of traditional parrilla restaurants, bars and beautiful colonial buildings creating an enchanting backdrop for the eclectic bohemian art and a weekend street market.</p>
  <p>The restaurant’s interior is a meeting of old world Argentine bodega and the open-plan style of Melbourne dining where the kitchen is an intimate part of the atmosphere. The interior is appointed with imported cow hides, 300-year-old antique doors and historic 1930s coloured glass soda siphon bottles from the suburb of San Telmo.</p>
  <p>The kitchen is focussed around our bespoke 2.5 metre parrilla (charcoal grill), hand made for us in Argentina by Pirincho, a lifelong master of the craft. As one of the most highly regarded parrilla craftsman in the world, Pirincho’s previous customers include former Argentine presidents, the Ferrari workshop in Modena, and the VIP restaurant in the Barcelona FC Stadium.</p>
  <p>We look forward to being able to share the food, the wine and our memories of Buenos Aires and Argentina with you.</p>
  <div id="spacer"></div>
</div>