<div class="right_float">
  <h1>Philosophy</h1>
  <%= line_break(66) %>
  <p class="abstract">San Telmo is a new and exciting restaurant and bar, inspired by not only a love of Argentinian food and wine, but also Argentinian’s vivacious lifestyle and rich culture.</p>
  <p class="abstract">Offering a warm and casual option for breakfast, lunch and dinner, San Telmo follows the Argentinian ethos that eating, drinking and most importantly life are there to be enjoyed with friends, family and lovers.</p>
  <p>The name San Telmo, originates from the oldest neighbourhood of Buenos Aires, full of traditional Parrilla restaurants, bars and beautiful Colonial buildings creating an enchanting backdrop for the eclectic bohemian art and weekend street market. Our logo was designed in B.A. by the top fileteado artist drawing inspiration on the vibrant and lively tango culture, which remains a huge influence throughout the city.</p>
  <p>The restaurant’s interior is a meeting of old world Argentine Bodega, coupled with the flow and open-plan style of Melbourne dining where the kitchen is an intimate part of the atmosphere. Appointed with imported cow hides, 300 year old antique doors and historic 1930's coloured glass soda bottles from the suburb of San Telmo, you’ll find inside intimately linked with the Buenos Aires of old.</p>
  <p>Continuing our endeavor to capture the essence of Argentine culture and cuisine, we have imported a bespoke 2.5 metre parrilla charcoal grill, hand made by Pirincho, a lifelong master of the craft. As one of the most highly regarded parilla craftsman in the world, Pirincho’s previous customers
  include the likes of former Argentine presidents, the Ferrari workshop in Modena, and the VIP restaurant in the Barcelona FC Stadium.</p>
  <p>San Telmo’s wine list has also been sourced from our favourite bodegas, sampled during our time in Argentina. It displays our love of the Argentinian’s unrivalled use of the otherwise forgotten Malbec grape, as well as their ability to produce great examples of many different varietals.</p>
  <p>Che we look forward to being able to share the food, the wine and our memories of Buenos Aires and Argentina with you!</p>
</div>

