<div class="right_float" id="main">
  <h1>Press</h1>
  <div class="reviews">
    <dt><img src="/images/press/theage.png" alt="The age logo" /></dt>
    <dd>
      <p>It's a modern twist on tradition, a bit like San Telmo is a Melbourne twist on a faraway country.</p>
      <p>Read more...</p>
    </dd>
  </div>
</div>