<div class="right_float" id="main">
  <%= link_to(main_index_path, :id => 'close_page', :class => 'pjax cross') do %>
  <% end %>
  <h1>Press</h1>
  <%= line_break(66) %>
  <ul class="reviews">
    <li>
      <img src="/images/press/gormet_traveler.png" alt="Gormet Traveller logo" />
      <h2>Australian Gourmet Traveller - September 2012</h2>
      <p>"Wow we made 88th best Restaurant in Australia so proud of the team!"</p>
      <a href="http://www.gourmettraveller.com.au/restaurant_top100.htm" target="_blank"><h3>Read more…</h3></a>
    </li>
    <li>
      <img src="/images/press/hereld-sun.png" alt="The Hereld Sun logo" />
      <h2>The Herald Sun - November 2012</h2>
      <p>"Table trend: What a cheek" - Check out the popularity of the pork Jowl</p>
      <a href="http://www.heraldsun.com.au/lifestyle/food/what-a-cheek/story-fng5gy73-1226513445034" target="_blank"><h3>Read more…</h3></a>
    </li>
    <li>
      <img src="/images/press/theage.png" alt="The Age logo" />
      <h2>The Age Epicure - August 2012</h2>
      <p>"Turn up the heat", Glen stokes the coals on the parrilla during a busy service for the Age is there anything he can't do..."</p>
      <a href="http://www.theage.com.au/entertainment/restaurants-and-bars/turn-up-the-heat-20120825-24srx.html" target="_blank"><h3>Read more…</h3></a>
    </li>
    <li>
      <img src="/images/press/petitmiamx.png" alt="Petit Miam x logo" />
      <h2>Petit Miam x - August 2012</h2>
      <p>A Melbourne food blog</p>
      <a href="http://www.theage.com.au/entertainment/restaurants-and-bars/favourite-52-20120825-24sqm.html" target="_blank"><h3>Read more…</h3></a>
    </li>
    <li>
      <img src="/images/press/theage.png" alt="The Age logo" />
      <h2>The Age Epicure - August 2012</h2>
      <p>Look for us in #22, "Best Vegie"" and #40, "Best Steak" - so much great stuff in Victoria!</p>
      <a href="http://www.theage.com.au/entertainment/restaurants-and-bars/favourite-52-20120825-24sqm.html" target="_blank"><h3>Read more…</h3></a>
    </li>
    <li>
      <img src="/images/press/gormet_traveler.png" alt="Gormet Traveller logo" />
      <h2>Australian Gourmet Traveller - January 2012</h2>
      <p>"San Telmo’s fire - Buenos Aires has arrived in Melbourne: San Telmo is an authentic Argentine treat, writes Michael Harden."</p>
      <a href="http://gourmettraveller.com.au/san-telmo-melbourne-restaurant-review.htm" target="_blank"><h3>Read more…</h3></a>
    </li>
    <li>
      <img src="/images/press/theage.png" alt="The Age logo" />
      <h2>The Age Epicure - December 2011</h2>
      <p>"It's a modern twist on tradition, a bit like San Telmo is a Melbourne twist on a faraway country"</p>
      <a href="http://www.theage.com.au/entertainment/restaurants-and-bars/san-telmo-20111217-1ozb7.html" target="_blank"><h3>Read more…</h3></a>
    </li>
    <li>
      <img src="/images/press/taste.png" alt="taste.com.au logo" />
      <h2>taste.com.au - The Herald Sun - December 2011</h2>
      <p>"Opening out on to two alleys, San Telmo is a bustling, L-shaped space that divides between a firepit at the front and a bar at the back"</p>
      <a href="http://www.taste.com.au/news+features/articles/3556/san+telmo" target="_blank"><h3>Read more…</h3></a>
    </li>
    <li>
      <img src="/images/press/broadsheet.png" alt="Broadsheet logo" />
      <h2>Broadsheet, By Martine Holberton - October 2011</h2>
      <p>"Melbourne’s first parrilla brings Argentinean cooking over hot coals to Melbourne with it’s opening today on Meyers Place"</p>
      <a href="http://www.broadsheet.com.au/melbourne/food-and-drink/article/hot-coal-cooking-buenos-aires-san-telmo" target="_blank"><h3>Read more…</h3></a>
    </li>
    <li>
      <img src="/images/press/melb-gastro.png" alt="Melbourne Gastronome logo" />
      <h2>Melbourne Gastronome - October 2011</h2>
      <p>"I'm thrilled that Melbourne too now has a big glam restaurant that places Argentinean grilled meat centre stage"</p>
      <a href="http://www.melbournegastronome.com/2011/10/first-glimpse-of-san-telmo-melbournes.html" target="_blank"><h3>Read more…</h3></a>
    </li>
    <li>
      <img src="/images/press/weekly-review.png" alt="The Weekly Review logo" />
      <h2>The Weekly Review, Kendall Hill - October 2011</h2>
      <p>"The San Telmo experience is as good as anything you will find in Buenos Aires and almost as authentic"</p>
      <a href="http://www.theweeklyreview.com.au/article-display/San-Telmo/4568" target="_blank"><h3>Read more…</h3></a>
    </li>
    <li>
      <img src="/images/press/time-out.png" alt="Time Out Melbourne logo" />
      <h2>Time Out, Melbourne - September 2011</h2>
      <p>"Giddy up, meat fans. San Telmo has ridden into town like an Argentinean gaucho (that’s a cowboy, kids), brandishing hefty slabs of flame-grilled cow and some serious Buenos Aires swagger"</p>
      <a href="http://www.au.timeout.com/melbourne/restaurants/venues/919/san-telmo" target="_blank"><h3>Read more…</h3></a>
    </li>
    <li>
      <img src="/images/press/agenda.png" alt="Agenda logo" />
      <h2>Agenda, Melbourne</h2>
      <p>"Bringing Argentinean BBQ and the barrio to the CBD"</p>
      <a href="http://www.theagendadaily.com/melbourne/restaurants-2/san-telmo/" target="_blank"><h3>Read more…</h3></a>
    </li>
    <li>
      <img src="/images/press/tourism-vic.png" alt="Tourism Victoria logo" />
      <h2>Tourism Victoria</h2>
      <p>"Traditional Argentinean BBQ fires up in Melbourne"</p>
      <a href="http://www.tourism.vic.gov.au/piecesofvictoria/december_2011/index.php?page=melbourne_wining_and_dining_hotspots" target="_blank"><h3>Read more…</h3></a>
    </li>
  </ul>
  <div id="spacer"></div>
</div>