<div class="right_float" id="main">
  <h1>Reservations</h1>
  <%= line_break(66) %>
  <p class="abstract">Bookings are available in the main dining room. For groups of 10-16, the private dining room is available with a minimum spend and deposit required. We also endeavor to keep around half our seating available for walk-ins and last minute urges for an empanada and beer or even a big steak and a red wine.</p>
  <div class="page_break"></div>
  <p>Call us to make a reservation or leave an email with all your details and we will get back to you within 24hrs to confirm the reservation.</p>
  
  <p>Gracias</p>
  <p>San Telmo</p>
  
  <p>Phone: +61 (3) 9650 5525<br />
    Fax: +61 (3) 9650 552
  </p>
  <a href="mailto:info@santelmo.com.au">info@santelmo.com.au</a>
</div>