<div class="right_float" id="main">
  <%= link_to(main_index_path, :id => 'close_page', :class => 'pjax cross') do %>
  <% end %>
  <h1>Reservations</h1>
  <%= line_break(66) %>
  <p class="abstract">Bookings are available in the main dining area while we do endeavour to keep around half our seating available for walk-ins and last minute urges for an empanada and beer or a big steak and a red wine.
  <p class="abstract">For bigger groups of 10-16 we have a private dining space available where you can choose one of our set menu options or if organised in advance we could arrange a whole animal to be slow cooked on the Parrilla, otherwise a minimum spend is required.
  <p>A 50% credit card deposit is required to confirm all group bookings.</p>
  <p>Call us to make a reservation.</p>
  <p>Gracias,<br />
    San Telmo</p>
  <p>Phone: +61 (3) 9650 5525<br />
  <a href="mailto:info@santelmo.com.au">info@santelmo.com.au</a></p>
  <iframe id="google_map" width="460" height="310" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=San+telmo&amp;aq=&amp;sll=-37.810971,144.972206&amp;sspn=0.006705,0.013926&amp;vpsrc=6&amp;ie=UTF8&amp;hq=San+telmo&amp;hnear=&amp;t=m&amp;ll=-37.811377,144.973698&amp;spn=0.01051,0.019698&amp;z=15&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=San+telmo&amp;aq=&amp;sll=-37.810971,144.972206&amp;sspn=0.006705,0.013926&amp;vpsrc=6&amp;ie=UTF8&amp;hq=San+telmo&amp;hnear=&amp;t=m&amp;ll=-37.811377,144.973698&amp;spn=0.01051,0.019698&amp;z=15" style="color:##ccc;text-align:left">View Larger Map</a></small>
</div>