<div class="right_float" id="main">
  <h1>Reservations</h1>
  <%= line_break(66) %>
  <p class="abstract">Bookings are available in the main dining room. For groups of 10-16, the private dining room is available with a minimum spend and deposit required. We also endeavor to keep around half our seating available for walk-ins and last minute urges for an empanada and beer or even a big steak and a red wine.</p>
  <div class="page_break"></div>
  <p>Call us to make a reservation or leave an email with all your details and we will get back to you within 24hrs to confirm the reservation.</p>
  <p>Phone: +61 (3) 9650 5525<br />
    <a href="mailto:info@santelmo.com.au">info@santelmo.com.au</a></p>
  <p>Gracias<br />
    San Telmo</p>
  <iframe id="google_map" width="460" height="310" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=San+telmo&amp;aq=&amp;sll=-37.810971,144.972206&amp;sspn=0.006705,0.013926&amp;vpsrc=6&amp;ie=UTF8&amp;hq=San+telmo&amp;hnear=&amp;t=m&amp;ll=-37.811377,144.973698&amp;spn=0.01051,0.019698&amp;z=15&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=San+telmo&amp;aq=&amp;sll=-37.810971,144.972206&amp;sspn=0.006705,0.013926&amp;vpsrc=6&amp;ie=UTF8&amp;hq=San+telmo&amp;hnear=&amp;t=m&amp;ll=-37.811377,144.973698&amp;spn=0.01051,0.019698&amp;z=15" style="color:##ccc;text-align:left">View Larger Map</a></small>
</div>