<div class="right_float" id="main">
  <%= link_to(main_index_path, :id => 'close_page', :class => 'pjax cross') do %>
  <% end %>
  <h1>Reservations</h1>
  <%= line_break(70) %>
  <p class="abstract">As we do take bookings, we encourage you to make a reservation for a table in our main dinning area. However we keep the marble bench looking over our open kitchen and our bar and courtyard area free for walk-ins when you have that last minute urge for steak and red wine.</p>
  <div class="page_break"></div>  
  <p>In our private dinning space we can accommodate groups of 10-14 where we offer different set menu options. With advance notice we can organise an asado animal of your choice to be slow cooked on the parrilla.</p>
  <p>A credit card deposit is required to confirm all group bookings of 8 people or more. Contact us directly for more information about large bookings.</p>
  <h2>Call us at the restaurant or book online to make a reservation.</h2>
  <p class="abstract">+61 (3) 9650 5525</p>
  <iframe id="book-online" src="http://cms.dimmi.com.au/Widget/Default.aspx?id=2822&location=http://santelmo.com.au" height="390" width="300" frameborder="0" scrolling="no"></iframe>
  <!-- <a id="book_online" href="javascript:void(window.open('http://cms.dimmi.com.au/Widget/Default.aspx?id=2822&location=http://santelmo.com.au','Dimmi','width=302,height=432,top=60,left=60'))"><img src="http://cms.dimmi.com.au/Images/Restaurants/173.gif" style="border:none;" alt="Book Online"></a> -->
  <div id="spacer"></div>
</div>